fastapi
uvicorn
dotenv
llama-cloud-services
llama-index
langchain-google-genai
langgraph
PyPDF2
python-multipart
supabase
llama_index
sentence-transformers
torch
llama-index-vector-stores-supabase
reportlab
pdflatex
pypandoc