fastapi
uvicorn
dotenv
llama-cloud-services
llama-index
langchain-google-genai
langgraph
PyPDF2
python-multipart
supabase
llama_index
sentence-transformers
torch
llama-index-vector-stores-supabase
reportlab
pdflatex
pypandoc
weasyprint
markdown
docx2pdf
google-generativeai
python-magic



docx2pdf
dotenv
fastapi

huggingface-hub
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-prebuilt
langgraph-sdk
langsmith
llama-parse
Markdown
markdown-it-py
markdown_pdf
numpy
pandas
pdflatex
pillow
pydantic
pydantic_core
PyMuPDF

pypdf
python-docx
python-dotenv
python-multipart


realtime
regex
reportlab
requests


scikit-learn

sentence-transformers









supabase







torch

uvicorn

weasyprint
wkhtmltopdf

yarl
zopfli
zstandard